@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.character{
    height: 200px;
    margin-left: 80vw;
    margin-top: 13%;
}
.wrongpagemessage{
   
    font-size: 64px;
    font-weight: 500;
    margin-left: 10%;
    margin-top: 10%;
}
.gohome{
    font-size: 40px;
    margin-left: 73%;
    margin-top: -5%;
    text-decoration: none;
    color: black;
}
.whicherror{
    position: absolute;
    font-size: 96px;
    margin-left: 95%;
    margin-top: 5%;
}