<div class="readmainbody">



<div class="topitems">

    <div class="heading">
        <p>READ</p>
    </div>

    <div class="searchitems">
        <div class="searchbar">
            <input type="text" placeholder="microsoft BSOD">
        </div>
        <button class="searchbutton">YUP</button>
    </div>
    
</div>

<!-- endoftopitems -->

<div class="filters">
    <button class="filterbutton">AI</button>
    <button class="filterbutton">Gadgets</button>
    <button class="filterbutton">Gadgets</button>
    <button class="filterbutton">Gadgets</button>

</div>


<!-- endoffilteritems -->

<div class="contentdivs">
    <div class="thumbnail">

    </div>
    <div class="rightcontentthumbnail">

        <div class="thumbnailname">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit</p>
        </div>

        <div class="footerbuttons">
            <button class="footerbuttoncls">READ</button>
            <div class="invisiblediv"></div>
            <button class="footerbuttoncls">SAVE</button>
        </div>

    </div>
</div>
<div class="contentdivs">
    <div class="thumbnail">

    </div>
    <div class="rightcontentthumbnail">

        <div class="thumbnailname">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit</p>
        </div>

        <div class="footerbuttons">
            <button class="footerbuttoncls">READ</button>
            <div class="invisiblediv"></div>
            <button class="footerbuttoncls">SAVE</button>
        </div>
    </div>
</div>
<div class="contentdivs">
    <div class="thumbnail">

    </div>
    <div class="rightcontentthumbnail">

        <div class="thumbnailname">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <p>Lorem ipsum dolor sit</p>
        </div>

        <div class="footerbuttons">
            <button class="footerbuttoncls">READ</button>
            <div class="invisiblediv"></div>
            <button class="footerbuttoncls">SAVE</button>
        </div>

    </div>
</div>


</div>