
<div class="headingwrite" [innerHTML]="post.title">
    <!-- <p>{{}}</p> -->
</div>
<div class="containerforeading">

    <div class="leftreadingsection">
        
        <div class="imagesection">     
        </div>

        <div class="buttonsection">
            <button class="footerbutton">READ ALOUD</button>
            <button class="footerbutton">SAVE</button>
            <button class="footerbutton" (click)="share()">SHARE</button>
        </div>


        <div class="bodycontentsection" [innerHTML]="post.bodyofcontent">
            <!-- <p>{{post.bodyofcontent}}</p> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque labore ea doloribus, perferendis, quae corrupti corporis cumque quod iure optio dolores a possimus incidunt natus molestias nulla quibusdam ex amet.
            Ab minus placeat modi provident eum error voluptatibus vero praesentium numquam magni <br><br> ipsa nulla quis voluptas maxime, distinctio dolor alias qui maiores pariatur et tempora. Earum iusto quidem tempore quam.
            Unde natus quibusdam aut! Quod distinctio totam iure sed eligendi iste. Eaque explicabo quibusdam veniam, sint quae doloribus id sequi qui natus quis, consectetur ad facilis. Illum consequatur maiores inventore?
            Iure in animi culpa vero qui reprehenderit nisi vel nesciunt soluta fugiat modi, nam sint, sequi dolorum voluptates,<br><br> provident natus eum alias porro? Adipisci ea voluptatibus quis excepturi, sint provident.
            Hic inventore magni deleniti non illo <br><br> reprehenderit tempore natus minus temporibus quis, ipsum soluta officiis odio enim, aspernatur necessitatibus, perferendis harum error similique amet nulla ratione delectus. Aliquam, sed numquam?</p> -->
        </div>

        <div class="endofnotesection" [innerHTML]="post.endnotecontent">
            <!-- <p>{{post.endnotecontent}}</p> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi aliquam aliquid voluptatum, possimus aspernatur facilis omnis eum dolorum alias, totam unde adipisci repudiandae rerum</p> -->
        </div>

    </div>
    <div class="rightcommentsection">
        <div class="discussionheader">
            <h1>DISCUSSION</h1>
        </div>
        <div class="userandcomments">

            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">The Daily Grind</div>
                </div>
                <div class="usercomment">
                    <p>I'm not arguing, I'm just explaining why I'm right. There's a difference </p>
                </div>
            </div>


            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">Blogzilla</div>
                </div>
                <div class="usercomment">
                    <p>I'm not a morning person, I'm not a night person, I'm a 'whenever the coffee kicks in' person </p>
                </div>
            </div>


            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">Procrastination Master</div>
                </div>
                <div class="usercomment">
                    <p>I'm not a blogger, I'm a professional procrastinator with a blog </p>
                </div>
            </div>

            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">Laughing Laura</div>
                </div>
                <div class="usercomment">
                    <p>I'm not arguing, I'm just passionately expressing my point of view while completely dismissing yours</p>
                </div>
            </div>

            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">Lord of the Memes</div>
                </div>
                <div class="usercomment">
                    <p>I'm not arguing, I'm just explaining why I'm right. Again </p>
                </div>
            </div>

            <div class="user1">
                <div class="userdata">
                    <div class="userprofile"></div>
                    <div class="username">Lord McSassface</div>
                </div>
                <div class="usercomment">
                    <p>Today's goals: eat Cheetos, play video games, maybe write a blog post... maybe not </p>
                </div>
            </div>

        </div>
    </div>

    
</div>