
<main class="main">
  <h1 id="ngswitch-practice"  >Name changer</h1>
  <button (click)="updaterole('admin')">use as admin</button> &nbsp;
  <button (click)="updaterole('user')">use as user</button>&nbsp;
  <button (click)="updaterole('default')">use as default user</button>


  <!-- ng switch example -->
  <p>buttons for switching roles are illustrated using <b>ngswitch structural directive</b></p>
  <div [ngSwitch]="roletype">
        
        <div *ngSwitchCase="'admin'">
          <p>Hello {{roletype}}</p>
          <app-newcmp></app-newcmp>
        </div>

        <div *ngSwitchCase="'user'">
          <p>hello {{roletype}}</p>
          <p>you are authorized as user</p>
        </div>

        <div *ngSwitchDefault>
          <p>hello default</p>
          <p>you are authorized as default user</p>
        </div>

  </div>
  
</main>


<router-outlet />
