<div class="writemainbody">

    <div class="headingwrite">
        <p>WRITE</p>
    </div>

    <div class="bodyofwriting">

    <div class="container">

        <div class="toolbar">
            <button class="toolbarbutton">LINK</button>
            <button class="toolbarbutton">IMAGE</button>
            <button class="toolbarbutton">FORMAT</button>
            <button class="toolbarbutton">IMPORT</button>
        </div>

        <div class="writecontentarea">
            <textarea cols="83" rows="2" placeholder="TITLE GOES HERE"></textarea>
            <textarea cols="83" rows="17" maxlength="300" placeholder="Write whatever you like!"></textarea>
            <textarea cols="83" rows="2" maxlength="300" placeholder="Share your post script/ending note"></textarea>

        </div>

        <div class="footerbuttons">
            <button class="footerbutton">PUBLISH</button>
            <button class="footerbutton">SAVE AS DRAFT</button>
        </div>

    </div>


    <div class="draftcontainer">

        <div class="headerofdraft">
            <p>DRAFTS</p>
        </div>

        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>
        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>
        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>
        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>
        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>
        
        <div class="draftsbody">
            
            <div class="draft1">
                <p>TITLE OF THE DRAFT</p>
                <button class="continuewritingbutton">CONTINUE WRITING</button>
            </div>
            
        </div>

    </div>

</div>

</div>