

  
<div class="container">
    <h2>EMS-Employee Management System</h2>
  <form class="form-horizontal" #emsform="ngForm" >

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="Enter Name" name="name" #empname="ngModel" ngModel required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="empid">Employee ID:</label>
      <div class="col-sm-5">
        <input type="number" 
        class="form-control"  
        placeholder="Enter employee ID" 
        name="empid" 
        #empid="ngModel" 
        required
        pattern="[0-9]"
        ngModel   >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="salary">Salery:</label>
      <div class="col-sm-5">          
        <input type="number" 
        class="form-control"
          placeholder="Enter salary" 
          name="salary"
           required 
           #empsalary="ngModel"
            ngModel >
      </div>
    </div><br>

    <div class="form-group">        

      <div class="col-sm-offset-2 col-sm-10 ">

        <button type="submit" class="btn btn-primary" (click)="insertemployee(emsform.value)">INSERT</button> &nbsp;&nbsp;
        <button type="submit" class="btn btn-warning">UPDATE</button> &nbsp;&nbsp;
        <button type="submit" class="btn btn-danger">DELETE</button>  &nbsp;&nbsp;
        <button type="submit" class="btn btn-info">FIND</button>  &nbsp;&nbsp;
        <button type="submit" class="btn btn-success">FIND ALL</button>

      </div>
   
    </div>
  </form>
<br><br>


<div *ngIf="empname.touched || empid.touched || empsalary.touched">

  <div *ngIf="empname.errors?.['required']">



    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      
      <strong>Name is required</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div *ngIf="empid.errors?.['pattern'] || empid.errors?.['required']">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Employee id is incorrect & required</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>


  <div *ngIf="empsalary.errors?.['required']">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Salary is required</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </div>

  
</div>
</div>



<router-outlet ></router-outlet>
