    
    <p>Change name to ...</p>
    <p>Name : {{name}}</p>
    
    <p>User List:</p><br>
    <div *ngFor="let item of data" [hidden]="hidenames" >
        <button (click)="updatedata(item)">Update to {{item}}</button> 
    </div>
    <br>
    <button  (click)="alertdata()">Get Data</button>
    <!-- <button (click)="updatedata()">Update data</button> -->
    <button (click)="resetdata()">reset data</button>
    <div *ngIf="hidenames==false">
        <button (click)="hideuserdata()">Hide * Data</button>
    </div>
    <div *ngIf="hidenames==true">
        <button (click)="hideuserdata()">Unhide * Data</button>

    </div>

  
    <div class="imagecontainer" [ngStyle]="{'background-image':'https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'}">

    </div>