

<main class="main">
  <h1>Name changer</h1>
  <button (click)="updaterole('admin')">use as admin</button>
  <button (click)="updaterole('user')">use as user</button>
  <button (click)="updaterole('default')">use as default user</button>

  <div [ngSwitch]="roletype">
    <div *ngSwitchCase="'admin'">
      <p>Hello {{roletype}}</p>
      <app-newcmp></app-newcmp>
    </div>

    <div *ngSwitchCase="'user'">
      <p>hello {{roletype}}</p>
      <p>you are authorized as user</p>
    </div>

    <div *ngSwitchDefault>
      <p>hello default</p>
      <p>you are authorized as default user</p>
    </div>

  </div>
</main>



<router-outlet />
